<!DOCTYPE html>
<html lang="pt-br" id="html" data-bs-theme=white>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/filmeSelec.css">
    <title>My Movie List</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c147ae9e45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

    <body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  
    <nav class="navbar shadow">

      <div class="container-fluid d-flex justify-content-between">

        <% try { %>
          <% usuario[0].Usuario %>
          <a class="navbar-brand" href="/<%= usuario[0].Usuario %>" style="color: orange;"><b>My Movie List</b></a>
          <div>
            <a class="navbar-brand" href="/perfil/<%= usuario[0].Usuario %>" style="color: orange;"><b><%= usuario[0].Usuario %></b></a>
            <a class="navbar-brand" href="/filmes/<%= usuario[0].Usuario %>" style="color: orange;"><b>Filmes</b></a>
            <a class="navbar-brand" href="/series/<%= usuario[0].Usuario %>" style="color: orange;"><b>Series</b></a>
            <span class="material-symbols-outlined" onclick="mudarDarkMode()" id="icone">
              dark_mode
            </span>
          </div>
        <% } catch (error) { %>
          <a class="navbar-brand" href="/" id="tituloNav" style="color: orange;"><b>My Movie List</b></a>
          <div class="d-flex align-items-center">
            <a class="navbar-brand" href="/login" style="color: orange;"><b>Login</b></a>
            <a class="navbar-brand" href="/cadastrar" style="color: orange;"><b>Registrar</b></a>
            <span class="material-symbols-outlined" onclick="mudarDarkMode()" id="icone">
              dark_mode
            </span>
          </div>
        <% } %>
          
      </div>

    </nav>

    <main class="container d-flex flex-column" style="margin-top: 100px;">

          <div class="p-2 container d-flex" id="containerInformacoes">
            
              <div class="d-flex flex-column align-items-center">

                <img id="filmeCapa" src="/img/<%= filme[0].Imagem %>" alt="">

                <div style="width: 100%; display: flex; justify-content: space-around;">
                  <div>
                    <i class="fa-solid fa-eye" style="color: #ff9c00; margin-right: 5px;"></i><%= assistido %>
                  </div>
                  <div>
                    <i class="fa-solid fa-heart" style="color: #ff9c00; margin-right: 5px;"></i><%= favoritado %>
                  </div>
                  <div>
                    <i class="fa-solid fa-tv" style="color: #ff9c00; margin-right: 5px;"></i><%= pretendeAssistir %>
                  </div>
                </div>
                
              </div>
              
              
            <div class="container d-flex flex-column justify-content-center" id="infosDoFilme">

              <h1 class=""><%= filme[0].Titulo %></h1>

              <br>

              <hr>

              <br>

              <p class="text-justify"><%= filme[0].Sinopse %></p>

              <br>

              <div class="d-flex flex-wrap">
                <% for (let i = 0; i < generosFilme.length; i ++) { %>
                  <div class="generos">
                    <b><%= generosFilme[i].Nome %></b>
                  </div>
                <% } %>
              </div>
              
              <br>

              <div class="d-flex flex-row align-items-center" style="margin-bottom: 15px;">
                <div class="d-flex justify-content-center" style="background-color: rgb(10, 10, 59); color: orange; width: 130px; border-radius: 999px;">
                  <b><%= filme[0].Lancamento %></b>
                </div>
  
                <img src="/img/<%= filme[0].IdadeIndicativa %>.jpg" alt="idadeIndicativa" id="idadeIndicativa">
              </div>

              <div class="d-flex justify-content-between">

                <div class="d-flex align-items-center" id="btnsUsuario">

                  <% if(!adicionadoFilmeAssistido) { %>

                  <button type="button" id="addLista" class="btn btn-outline-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#adicionarLista" style="background: transparent; border: none;"><i class="fa-solid fa-circle-plus fa-xl" style="position: relative; left: 1px;"></i></button>

                  <% if(!adicionadoPretendoAssistir) { %>
                    <form action="/addQueroAssistir/<%= filme[0].IDFilme %>/<%= usuario[0].Usuario %>" method="post">
                      <button type="submit" class="btn btn-outline-primary" style="border: none;">Quero Assistir</button>
                    </form>
                  <% } %>

                  <% } else { %>
                      <i class="changebtns fa-solid fa-circle-check fa-xl" style="color: orange; left: 15px; position: relative;"></i>
                  <% } %>
                    
                </div>
                
                <% if(usuario[0].ISAdmin == 1) { %>

                  <div class="" id="btnsAdmin">

                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editarFilme"  style="background: transparent; border: none;"><i class="fa-regular fa-pen-to-square fa-xl" id="editarFilmeIcon"></i></button>

                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#deletarFilme" style="background: transparent; border: none; color: red;"><i class="fa-solid fa-trash fa-xl"></i></button>
    
                  </div>

                <% } %>

              </div>
              
            </div>
            
          </div>
          
          <div id="comentarios" class="mt-4 p-4">
            <h3>Comentarios</h3>
            <% for(let i = 0; i < comentarios.length; i++) { %>
              <div class="d-flex mt-3 gap-4">
  
                <img src="/img/<%= comentarios[i]['usuario.Imagem'] %>" alt="">
  
                <div>
  
                  <h4><%= comentarios[i]['usuario.Usuario'] %></h4>
                  <p class="d-flex flex-wrap"><%= comentarios[i].Comentario %></p>
                  <% for(let j = 0; j < 5; j++) { %>
                    <i class="fa fa-star" <%= (j < comentarios[i].Nota) ? 'style=color:#FC0' : "" %>></i>
                  <% } %>
  
                </div>
  
              </div>

              <% if(i < comentarios.length - 1) { %>
                <hr>
              <% } %>

            <% } %>
  
          </div>
    
    </main>

    <!-- Modal de add lista -->
     
    <div class="modal" tabindex="-1" id="adicionarLista">
      
      <div class="modal-dialog modal-dialog-centered modal-lg">
        
        <div class="modal-content">

          <div class="modal-header">

            <h5 class="modal-title">Preencha os campos!</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">

            <form action="/filmeSelec/<%= filme[0].IDFilme %>/<%= usuario[0].Usuario %>" method="post">
              
              <label for="comentarioInput">Comentário</label>

              <br>

              <textarea class="form-control" name="comentarioInput" id="comentarioInput" rows="2"></textarea>

              <br>

              <div class="estrelas">

                <input type="radio" id="cm_star-empty" name="notaInput" value="" checked/>
                <label for="cm_star-1"><i class="fa fa-star"></i></label>
                <input type="radio" id="cm_star-1" name="notaInput" value="1"/>
                <label for="cm_star-2"><i class="fa fa-star"></i></label>
                <input type="radio" id="cm_star-2" name="notaInput" value="2"/>
                <label for="cm_star-3"><i class="fa fa-star"></i></label>
                <input type="radio" id="cm_star-3" name="notaInput" value="3"/>
                <label for="cm_star-4"><i class="fa fa-star"></i></label>
                <input type="radio" id="cm_star-4" name="notaInput" value="4"/>
                <label for="cm_star-5"><i class="fa fa-star"></i></label>
                <input type="radio" id="cm_star-5" name="notaInput" value="5"/>

              </div>

              <br>

              <button type="submit" class="btn btn-primary" id="Atualizar" data-bs-dismiss="modal">Adicionar</button>

            </form>

          </div>

        </div>

      </div>
      
    </div>

    <!-- Modal de Sucesso -->

    <div class="modal" tabindex="-1" id="sucesso">
      
      <div class="modal-dialog modal-dialog-centered modal-lg">
        
        <div class="modal-content">

          <div class="modal-header">

            <h5 class="modal-title">Filme adicionado</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">

            <p>O filme <%= filme[0].Titulo %> foi adicionado à sua lista!</p>

          </div>

        </div>

      </div>
      
    </div>

    <!-- Excluir Filme -->

    <div class="modal" tabindex="-2" id="deletarFilme">
  
      <div class="modal-dialog modal-dialog-centered modal-sm">
        
        <div class="modal-content">

          <div class="modal-header d-flex">

            <h5 class="modal-title">Excluir Filme</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">

            <h5>Você está excluindo o filme <%= filme[0].Titulo %></h5>

            <br>

            <p>Você confirma a exclusão?</p>

            <div class="d-flex justify-content-between">

              <form action="/deletarFilme/<%= filme[0].IDFilme %>/<%= usuario[0].Usuario %>" method="post">
                <button type="submit" class="btn btn-danger m-3">Confirmar</button>
              </form>

              <button type="button" class="btn btn-secondary m-3" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>

          </div>

        </div>

      </div>
      
    </div>

    <!-- Editar Filme -->

    <div class="modal" tabindex="-1" id="editarFilme">
      
      <div class="modal-dialog modal-dialog-centered modal-lg">

        <div class="modal-content">

          <div class="modal-header">

            <h5 class="modal-title">Preencha os campos!</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">

            <form action="/editarFilme/<%= filme[0].IDFilme %>/<%= usuario[0].Usuario %>" enctype="multipart/form-data" method="post">


              <input class="form-control" type="file" name="novaImagemFilme" id="novaImagemFilme" accept="image/*">


              <br>

              <label class="form-label"  for="novoTitulo">Titulo do Filme</label>

              <br>

              <input class="form-control" type="text" name="novoTitulo" value="<%= filme[0].Titulo %>" placeholder="Digite o nome do filme" required>
  
              <br>

              <label class="form-label" for="novaSinopse" required>Sinopse do Filme</label>

              <br>
              <textarea class="form-control" name="novaSinopse" rows="2"><%= filme[0].Sinopse %></textarea>

              <br>

              <label class="form-label" for="novoLancamento">Data de Lançamento</label>

              <br>

              <input class="form-control" type="date" name="novoLancamento" value="" id="lancamentoInput">

              <br>

              <label class="form-label" for="novaIdadeIndicativa">Idade Indicativa</label>

              <br>

              <select class="form-control" name="novaIdadeIndicativa" required>

                <option value="AL"  <%= ("AL"  === filme[0].IdadeIndicativa) ? "selected" : "" %>>AL</option>
                <option value="A10" <%= ("A10" === filme[0].IdadeIndicativa) ? "selected" : "" %>>A10</option>
                <option value="A12" <%= ("A12" === filme[0].IdadeIndicativa) ? "selected" : "" %>>A12</option>
                <option value="A14" <%= ("A14" === filme[0].IdadeIndicativa) ? "selected" : "" %>>A14</option>
                <option value="A16" <%= ("A16" === filme[0].IdadeIndicativa) ? "selected" : "" %>>A16</option>
                <option value="A18" <%= ("A18" === filme[0].IdadeIndicativa) ? "selected" : "" %>>A18</option>

              </select>

              <br>

              <div class="overflow-y-auto" style="height: 200px;">
                <ul class="list-group" id="generos">
                  <% for(let i = 0; i < generos.length; i++) { %>
                    
                    <li class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="<%= generos[i].Nome %>" id="checkbox<%= i %>" name="novosGeneros">

                      <label class="form-check-label" for="checkbox<%= i %>"><%= generos[i].Nome %></label>
                    </li>
                    
                    <% } %>
                  </ul>
               </div>

              <br>

              <button type="submit" id="btnEditar" class="btn btn-primary">Editar</button>

            </form>

          </div>

        </div>

      </div>

    </div>



    <button type="button" class="d-none" id="abrirSucesso" data-bs-toggle="modal" data-bs-target="#sucesso"></button>

    <% if(flag == 1) { %>

      <script>
        document.getElementById("abrirSucesso").click()
      </script>

    <% } %>
    
    <footer class="d-flex">

      <div class="container d-flex flex-row justify-content-evenly mb-3 flex-wrap">
        <div>
          <i class="fa-brands fa-square-github" style="color: #ff9c00;"></i> @AmiltonMn
        </div>
        <div>
          <i class="fa-solid fa-envelope" style="color: #ff9c00;"></i>amilton.moreiran@hotmail.com
        </div>
        <div>
          <i class="fa-brands fa-square-github" style="color: #ff9c00;"></i> @Fernandohka
        </div>
        <div>
          <i class="fa-solid fa-envelope" style="color: #ff9c00;"></i>fernando2005andrade@gmail.com
        </div>
      </div>
  
      <div class="d-flex justify-content-center align-items-center">
        <h6>
          ©️ 2024 Copyright | My Movie List
        </h6>
      </div>
    </footer>

    <script src="/js/script.js"></script>
    <script>
      adicionarMode();
    </script>
   
</body>
</html>