<!DOCTYPE html>
<html lang="pt-br" id="html" data-bs-theme=white>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Movie List</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c147ae9e45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
    <body>

      <nav class="navbar shadow">

        <div class="container-fluid d-flex justify-content-between">

          <% try { %>
            <% usuario[0].Usuario %>
            <a class="navbar-brand" href="/<%= usuario[0].Usuario %>" style="color: orange;"><b>My Movie List</b></a>
            <div>
              <a class="navbar-brand" href="/perfil/<%= usuario[0].Usuario %>" style="color: orange;"><b><%= usuario[0].Usuario %></b></a>
              <a class="navbar-brand" href="/filmes/<%= usuario[0].Usuario %>" style="color: orange;"><b>Filmes</b></a>
              <a class="navbar-brand" href="/series/<%= usuario[0].Usuario %>" style="color: orange;"><b>Series</b></a>
              <span class="material-symbols-outlined" onclick="mudarDarkMode()" id="icone">
                dark_mode
              </span>
            </div>
          <% } catch (error) { %>
            <a class="navbar-brand" href="/" id="tituloNav" style="color: orange;"><b>My Movie List</b></a>
            <div class="d-flex align-items-center">
              <a class="navbar-brand" href="/login" style="color: orange;"><b>Login</b></a>
              <a class="navbar-brand" href="/cadastrar" style="color: orange;"><b>Registrar</b></a>
              <span class="material-symbols-outlined" onclick="mudarDarkMode()" id="icone">
                dark_mode
              </span>
            </div>
          <% } %>
            
        </div>
  
      </nav>

    <main>

      <div class="container p-3 d-flex justify-content-center align-items-center mb-5" id="containerLancamentos">
        <div class="container row p-3 d-flex justify-content-around align-items-center" id="background1">
          <div class="d-flex flex-row text-center align-items-end">
            <h1>Lançamentos</h1>
            <p style="margin-left: 15px;">(Filmes)</p> 
          </div>
          <div id="lancamentos" class="overflow-x-auto overflow-y-hidden d-flex flex-row">
            <% try { %>
              <% usuario[0].Usuario %>
              <% for(let i = 0; i < filmesMaisRecentes.length; i++) { %>
                  
                  <div class="infoFilme d-flex flex-column justify-content-between align-items-center">

                    <a href="/filmeSelec/<%= filmesMaisRecentes[i].IDFilme %>/<%= usuario[0].Usuario %>">
                      <img class="imagemFilme" src="/img/<%= filmesMaisRecentes[i].Imagem %>" alt="Imagem não encontrada">
                    </a>
                    
                    <div class="notaFilme">
                      <%= filmesMaisRecentes[i].NotaGeral.toFixed(1) %>
                    </div>

                  </div>

              <% } %>
            <% } catch (error) { %>
              <% for(let i = 0; i < filmesMaisRecentes.length; i++) { %>
                <div class="infoFilme d-flex flex-column justify-content-between align-items-center">


                <img class="imagemFilme" src="/img/<%= filmesMaisRecentes[i].Imagem %>" alt="Imagem não encontrada">

                
                <div class="notaFilme">
                  <%= filmesMaisRecentes[i].NotaGeral.toFixed(1) %>
                </div>

              </div>
              <% } %>

            <% } %>
          </div>
        </div>
      </div>

      <div class="container p-3 d-flex justify-content-center align-items-center mb-5" id="containerAvaliados">
        <div class="container row p-3 d-flex justify-content-around align-items-center" id="background2">
          <div class="d-flex flex-row text-center align-items-end">
            <h1>Melhor Avaliados</h1>
            <p style="margin-left: 15px;">(Filmes)</p> 
          </div>
          <div id="melhorAvaliados" class="overflow-x-auto overflow-y-hidden d-flex flex-row">
            <% try { %>
              <% usuario[0].Usuario %>
              <% for(let i = 0; i < filmesMelhorAvaliados.length; i++) { %>
                  
                  <div class="infoFilme d-flex flex-column justify-content-between align-items-center">

                    <a href="/filmeSelec/<%= filmesMelhorAvaliados[i].IDFilme %>/<%= usuario[0].Usuario %>">
                      <img  class="imagemFilme" src="/img/<%= filmesMelhorAvaliados[i].Imagem %>" alt="Imagem não encontrada">
                    </a>
                    
                    <div class="notaFilme">
                      <%= filmesMelhorAvaliados[i].NotaGeral.toFixed(1) %>
                    </div>

                  </div>

              <% } %>
            <% } catch (error) { %>
              <% console.log(error) %>
              <% for(let i = 0; i < filmesMelhorAvaliados.length; i++) { %>
                
                <div class="infoFilme d-flex flex-column justify-content-between align-items-center">


                  <img  class="imagemFilme" src="/img/<%= filmesMelhorAvaliados[i].Imagem %>" alt="Imagem não encontrada">

                  
                  <div class="notaFilme">
                    <%= filmesMelhorAvaliados[i].NotaGeral.toFixed(1) %>
                  </div>

                </div>

              <% } %>
            <% } %>
          </div>
        </div>
      </div>

      <div class="container p-3 d-flex justify-content-center align-items-center mb-5" id="containerLancamentos">
        <div class="container row p-3 d-flex justify-content-around align-items-center" id="background3">
          <div class="d-flex flex-row text-center align-items-end">
            <h1>Lançamentos</h1>
            <p style="margin-left: 15px;">(Séries)</p> 
          </div>
          <div id="lancamentos" class="overflow-x-auto overflow-y-hidden d-flex flex-row">
            <% try { %>
              <% usuario[0].Usuario %>

              <% for(let i = 0; i < seriesMaisRecentes.length; i++) { %>
                  
                  <div class="infoFilme d-flex flex-column justify-content-between align-items-center">

                    <a href="/serieSelec/<%= seriesMaisRecentes[i].IDSerie %>/<%= usuario[0].Usuario %>">
                      <img  class="imagemFilme" src="/img/<%= seriesMaisRecentes[i].Imagem %>" alt="Imagem não encontrada">
                    </a>
                    
                    <div class="notaFilme">
                      <%= seriesMaisRecentes[i].NotaGeral.toFixed(1) %>
                    </div>

                  </div>

              <% } %>
            <% } catch (error) { %>

              <% for(let i = 0; i < seriesMaisRecentes.length; i++) { %>
                <div class="infoFilme d-flex flex-column justify-content-between align-items-center">

                  <img  class="imagemFilme" src="/img/<%= seriesMaisRecentes[i].Imagem %>" alt="Imagem não encontrada">

                  
                  <div class="notaFilme">
                    <%= seriesMaisRecentes[i].NotaGeral.toFixed(1) %>
                  </div>

                </div>
              <% } %>

            <% } %>
          </div>
        </div>
      </div>

      <div class="container p-3 d-flex justify-content-center align-items-center" id="containerAvaliados" style="margin-bottom: 100px;">
        <div class="container row p-3 d-flex justify-content-around align-items-center" id="background4">
          <div class="d-flex flex-row text-center align-items-end">
            <h1>Melhor Avaliados</h1>
            <p style="margin-left: 15px;">(Séries)</p> 
          </div>
          <div id="melhorAvaliados" class="overflow-x-auto overflow-y-hidden d-flex flex-row">
            <% try { %>
              <% usuario[0].Usuario %>
              <% for(let i = 0; i < seriesMelhorAvaliados.length; i++) { %>
                  <div class="infoFilme d-flex flex-column justify-content-between align-items-center">

                    <a href="/serieSelec/<%= seriesMelhorAvaliados[i].IDSerie %>/<%= usuario[0].Usuario %>">
                      <img  class="imagemFilme" src="/img/<%= seriesMelhorAvaliados[i].Imagem %>" alt="Imagem não encontrada">
                    </a>
                    
                    <div class="notaFilme">
                      <%= seriesMelhorAvaliados[i].NotaGeral.toFixed(1) %>
                    </div>

                  </div>
              <% } %>

            <% } catch (error) { %>
              <% console.log(error) %>

              <% for(let i = 0; i < seriesMelhorAvaliados.length; i++) { %>
                <div class="infoFilme d-flex flex-column justify-content-between align-items-center">

                  <img  class="imagemFilme" src="/img/<%= seriesMelhorAvaliados[i].Imagem %>" alt="Imagem não encontrada">
                  
                  <div class="notaFilme">
                    <%= seriesMelhorAvaliados[i].NotaGeral.toFixed(1) %>
                  </div>

                </div>
              <% } %>

            <% } %>
          </div>
        </div>
      </div>

    </main>

    <footer class="d-flex">

      <div class="container d-flex flex-row justify-content-evenly mb-3 flex-wrap">
        <div>
          <i class="fa-brands fa-square-github" style="color: #ff9c00; margin-right: 5px;"></i>@AmiltonMn
        </div>
        <div>
          <i class="fa-solid fa-envelope" style="color: #ff9c00; margin-right: 5px;"></i>amilton.moreiran@hotmail.com
        </div>
        <div>
          <i class="fa-brands fa-square-github" style="color: #ff9c00; margin-right: 5px;"></i>@Fernandohka
        </div>
        <div>
          <i class="fa-solid fa-envelope" style="color: #ff9c00; margin-right: 5px;"></i>fernando2005andrade@gmail.com
        </div>
      </div>
  
      <div class="d-flex justify-content-center align-items-center">
        <h6>
          ©️ 2024 Copyright | My Movie List
        </h6>
      </div>
    </footer>

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      adicionarMode();
    </script>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
              $("#background1").on("mouseenter", ".imagemFilme", function() {
                  const bg = this.getAttribute("src");

                  document.getElementById("background1").style.backgroundImage = "url('" + bg + "')"
                  document.getElementById("background1").style.backgroundColor = "rgba(0, 0, 0, 0.4)";
                  document.getElementById("background1").style.backgroundBlendMode = "overlay"; 
              });
              $("#background2").on("mouseenter", ".imagemFilme", function() {
                  const bg = this.getAttribute("src");

                  document.getElementById("background2").style.backgroundImage = "url('" + bg + "')"
                  document.getElementById("background2").style.backgroundColor = "rgba(0, 0, 0, 0.4)";
                  document.getElementById("background2").style.backgroundBlendMode = "overlay";
              });
              $("#background3").on("mouseenter", ".imagemFilme", function() {
                  const bg = this.getAttribute("src");

                  document.getElementById("background3").style.backgroundImage = "url('" + bg + "')"
                  document.getElementById("background3").style.backgroundColor = "rgba(0, 0, 0, 0.35)";
                  document.getElementById("background3").style.backgroundBlendMode = "overlay";
              });
              $("#background4").on("mouseenter", ".imagemFilme", function() {
                  const bg = this.getAttribute("src");

                  document.getElementById("background4").style.backgroundImage = "url('" + bg + "')"
                  document.getElementById("background4").style.backgroundColor = "rgba(0, 0, 0, 0.4)";
                  document.getElementById("background4").style.backgroundBlendMode = "overlay";
              });
          });
      </script>
    
</body>
</html>